extends ../layout/layout.pug

include ../layout/header.pug
include ../components/post.pug
include ../components/comment.pug
include ../components/link.pug
include ../components/button.pug

block header
  +Header(logged)

block title
  //- TODO: if another profile change the title
  //- this is kinda stupid but whatever
  if (you)
    title Your profile | remasked
  else
    title #{username} | remasked

block content
  if (!logged && own)
    h1 You need to login in order to view your profile!
  else
    div.profile-container
      h1.profile-title #{username}'s profile
      p.profile-info-text
        <span class='profile-amount'> #{postPoints} </span> post points | 
        <span class='profile-amount'> #{commentPoints} </span> comment points | 
        <span class='profile-amount'> #{postPoints + commentPoints} </span> total points | 
        <span class='profile-amount'> #{postsAmount} </span> posts | 
        <span class='profile-amount'>  #{commentsAmount} </span> comments
      p Member since #{created}.

    div.profile-buttons
      +Link(`/profile/${username}?type=posts`)
        +Button("Posts")
      +Link(`/profile/${username}?type=comments`)
        +Button("Comments")

      if (own)
        +Link(`/profile/${username}?type=saved-posts`)
          +Button("Saved posts", null, "accent")
        +Link(`/profile/${username}?type=saved-comments`)
          +Button("Saved comments", null, "accent")
    
    if error
      h1 #{error}

    if posts
      each post in posts
        +Post(post, {type: post.type, flag: post.flag, view: "min", community: true})

    if savedPosts
      each post in savedPosts
        +Post(post, {type: post.type, flag: post.flag, view: "min", community: true})

    if comments
      each comment in comments
        +Comment(comment)

    if savedComments
      each comment in savedComments
        +Comment(comment)
    