include icon.pug
include link.pug
include button.pug

mixin Comment(commentData)
  div.comment-container
    div.comment-content

      if !commentData.deleted
        div.comment-votes
          +Icon(commentData.voted === 1 ? "/static/assets/icons/up-use.svg" : "/static/assets/icons/up.svg", "upvote comment", `commentUpdateVoteState(1, '${commentData.ref}')`, null, true, "comment-upvote")
          p.comment-votes-amount(style=`color: ${commentData.voted === 1 ? "#10bc10" : commentData.voted === -1 ? "#f3453e" : "black"}`) #{commentData.votes}
          +Icon(commentData.voted === -1 ? "/static/assets/icons/down-use.svg" : "/static/assets/icons/down.svg", "downvote comment", `commentUpdateVoteState(-1, '${commentData.ref}')`, null, true, "comment-downvote")

      div.comment-main
        if !commentData.deleted
          div.comment-info
            +Icon("/static/assets/icons/minus.svg", "min/max comment", "commentCollapse()", "width: 16px; height: 16px; margin-right: 6px;") 
            div.comment-info-text-container
              if !commentData.throwaway
                +Link(`/profile/${commentData.owner}`)
                  p.comment-info-text-goto= commentData.owner
              else
                p.comment-info-text-goto somebody
              p.comment-info-text &nbsp;replied on #{commentData.created}
                if commentData.edited
                  span.comment-edited &nbsp;(edited on #{commentData.edited})
        else
          p.comment-deleted This comment was deleted.

        div.comment-text-container!= commentData.content
        div.comment-edit(style="display: none;")
          textarea.input-textarea(rows="6", cols="64")= commentData.contentRaw
          div.comment-textarea-buttons-container
            +Button("Save", `commentSaveEdit('${commentData.ref}')`)
            +Button("Cancel", "commentCancelEdit()")

        div.comment-info-actions-container
          if !commentData.deleted
            +Icon(commentData.saved ? "/static/assets/icons/starFill.svg" : "/static/assets/icons/star.svg", "comments", null, "width: 16px; height: 16px", false)
            p.comment-info-text-actions(onclick=`commentUpdateSaveState('${commentData.ref}')`) #{commentData.saved ? 'unsave' : 'save'}&nbsp;

            +Icon("/static/assets/icons/flag.svg", "comments", null, "width: 16px; height: 16px", false)
            p.comment-info-text-actions(onclick="commentReport()") report&nbsp;

            +Icon("/static/assets/icons/reply.svg", "comments", null, "width: 16px; height: 16px", false)
            p.comment-info-text-actions(onclick="commentMinMax()") reply&nbsp;

          if commentData.owns
            +Icon("/static/assets/icons/edit.svg", "comments", null, "width: 16px; height: 16px", false)
            p.comment-info-text-actions(onclick="commentEdit()") edit&nbsp;

            if !commentData.throwaway
              +Icon("/static/assets/icons/conceal.svg", "comments", null, "width: 16px; height: 16px", false)
              p#throwaway.comment-info-text-actions(onclick="commentThrowaway()") conceal&nbsp;
              p#throwaway-confirm.comment-info-text-actions(style="display: none;", onclick=`commentThrowawayConfirm('${commentData.ref}')`) confirm&nbsp;
              p#throwaway-cancel.comment-info-text-actions(style="display: none;", onclick="commentThrowawayCancel()") &nbsp;cancel
            else
              +Icon("/static/assets/icons/reveal.svg", "comments", null, "width: 16px; height: 16px", false)
              p#throwaway.comment-info-text-actions(onclick="commentThrowaway()") reveal&nbsp;
              p#throwaway-confirm.comment-info-text-actions(style="display: none;", onclick=`commentThrowawayConfirm('${commentData.ref}')`) confirm&nbsp;
              p#throwaway-cancel.comment-info-text-actions(style="display: none;", onclick="commentThrowawayCancel()") &nbsp;cancel

            +Icon("/static/assets/icons/delete.svg", "comments", null, "width: 16px; height: 16px", false)
            p#delete.comment-info-text-actions(onclick="commentDelete()") delete&nbsp;
            p#delete-confirm.comment-info-text-actions(style="display: none;", onclick=`commentDeleteConfirm('${commentData.ref}')`) confirm&nbsp;
            p#delete-cancel.comment-info-text-actions(style="display: none;", onclick="commentDeleteCancel()") &nbsp;cancel

        div.comment-reply
          textarea.input-textarea(rows="6" cols="64" placeholder="Type your reply here...")
          div.comment-textarea-buttons-container
            +Button("Reply", `commentReply('${commentData.refPost}', '${commentData.ref}')`)
            +Button("Cancel", "commentMinMax()")

    if commentData.children
      each child in commentData.children
        +Comment(child)