mixin Community(communityData)
  a(href=`/c/${communityData.name}`)
    div.community-container
      h2.community-title= communityData.name
      div.community-meta!= `${communityData.meta.substring(0, 128)}${communityData.meta.length > 127 ? "..." : ""}`
      p.community-details Subscribed since #{communityData.subscribed}