include icon.pug
include link.pug

//- type can be: photo(includes gifs btw), video, text
mixin Post(postData, options={type: "photo", view: "min", community: true})
  div.post-container
    div.post-main
      //- vote handling
      div.post-votes(vote="", style=`margin: ${options.view === "max" ? "0 0 auto" : "0"}`)
        +Icon(postData.voted === 1 ? "/static/assets/icons/up-use.svg" : "/static/assets/icons/up.svg", "upvote post", `postUpdateVoteState(1, '${postData.ref}')`)
        p.post-votes-amount(style=`color: ${postData.voted === 1 ? "green" : postData.voted === -1 ? "red" : "black"}`) #{postData.votes}
        +Icon(postData.voted === -1 ? "/static/assets/icons/down-use.svg" : "/static/assets/icons/down.svg", "downvote post", `postUpdateVoteState(-1, '${postData.ref}')`)

      //- small preview
      if !postData.deleted
        if options.type == "photo" && !options.flag
          div.post-small-preview(style=`display: ${options.view === "max" ? "none" : "flex"}`)
            img.post-small-preview-image(src=`${postData.link}`, alt="post small preview")

        else if options.type == "video" && !options.flag
          div.post-small-preview(style=`display: ${options.view === "max" ? "none" : "flex"}`)
            img.post-small-preview-image(src=`/static/assets/icons/video.svg`, alt="post small preview", style="width: 48px; height: 48px;")

        else if options.type == "text" && !options.flag
          div.post-small-preview(style=`display: ${options.view === "max" ? "none" : "flex"}`)
            img.post-small-preview-image(src=`/static/assets/icons/text.svg`, alt="post small preview", style="width: 48px; height: 48px;")

        else if options.type == "link" && !options.flag
          div.post-small-preview(style=`display: ${options.view === "max" ? "none" : "flex"}`)
            img.post-small-preview-image(src=`/static/assets/icons/link.svg`, alt="post small preview", style="width: 48px; height: 48px;")

        else if options.flag
          div.post-small-preview(style=`display: ${options.view === "max" ? "none" : "flex"}`)
            img.post-small-preview-image(src=`/static/assets/icons/warning.svg`, alt="post small preview", style="width: 48px; height: 48px;")
      else
        div.post-small-preview(style=`display: ${options.view === "max" ? "none" : "flex"}`)
          img.post-small-preview-image(src=`/static/assets/icons/deleted.svg`, alt="post small preview", style="width: 48px; height: 48px;")

      //- info about the post - title, owner, etc
      div.post-info
        if !postData.deleted
          if options.type == "link" && !options.flag
            +Link(`${postData.link}`)
              h1.post-info-title.post-info-link= postData.title
          else if options.type == "link" && options.flag
            +Link(`${postData.link}`)
              h1.post-info-title.post-info-link.post-warning #{postData.title} (#{options.flag})

          else if options.flag
            h1.post-info-title.post-warning #{postData.title} (#{options.flag})
          else
            h1.post-info-title= postData.title
        else
          h1.post-info-title.post-deleted This post was deleted.
          
        div.post-info-text-container
          if !postData.deleted
            p.post-info-text Submitted by&nbsp;
            if !postData.throwaway
              +Link(`/profile/${postData.owner}`)
                p.post-info-text-goto= postData.owner
            else
              p.post-info-text-goto somebody 

            if options.community
              p.post-info-text &nbsp;in&nbsp;
              +Link(`/c/${postData.community}`)
                p.post-info-text-goto= postData.community
            
            p.post-info-text &nbsp; on #{postData.created}
              if postData.edited
                span.post-edited &nbsp;(edited on #{postData.edited})
        
        div.post-info-actions-container
          if options.type != "link"
            +Icon(options.view === "min" ? "/static/assets/icons/maximize.svg" : "/static/assets/icons/minimize.svg", "min or max post", "postMinMax()", "width: 20px; height: 20px; margin-right: 8px;")

          +Icon("/static/assets/icons/reply.svg", "comments", null, "width: 16px; height: 16px", false)
          +Link(`/c/${postData.community}/post/${postData.ref}`)
            p.post-info-text-actions comments (#{postData.commentsAmount})

          +Icon("/static/assets/icons/x.svg", "comments", null, "width: 16px; height: 16px", false)
          p.post-info-text-actions(onclick="postHide()") hide&nbsp;

          +Icon("/static/assets/icons/flag.svg", "comments", null, "width: 16px; height: 16px", false)
          +Link("/report")
            p.post-info-text-actions report&nbsp;

          if postData.owns && options.type == "text"
            +Icon("/static/assets/icons/edit.svg", "comments", null, "width: 16px; height: 16px", false)
            p.post-info-text-actions(onclick="postEdit()") edit&nbsp;

          //- stupid starts here
          if postData.owns && postData.throwaway
            +Icon("/static/assets/icons/reveal.svg", "comments", null, "width: 16px; height: 16px", false)
            p#throwaway.post-info-text-actions(onclick="postThrowaway()") reveal&nbsp;
            p#throwaway-confirm.post-info-text-actions(style="display: none;", onclick=`postThrowawayConfirm('${postData.ref}')`) confirm&nbsp;
            p#throwaway-cancel.post-info-text-actions(style="display: none;", onclick="postThrowawayCancel()") &nbsp;cancel
          
          if postData.owns && !postData.throwaway
            +Icon("/static/assets/icons/conceal.svg", "comments", null, "width: 16px; height: 16px", false)
            p#throwaway.post-info-text-actions(onclick="postThrowaway()") conceal&nbsp;
            p#throwaway-confirm.post-info-text-actions(style="display: none;", onclick=`postThrowawayConfirm('${postData.ref}')`) confirm&nbsp;
            p#throwaway-cancel.post-info-text-actions(style="display: none;", onclick="postThrowawayCancel()") &nbsp;cancel
          //- stupid ends here

          if postData.owns
            +Icon("/static/assets/icons/delete.svg", "comments", null, "width: 16px; height: 16px", false)
            p#delete.post-info-text-actions(onclick="postDelete()") delete&nbsp;
            p#delete-confirm.post-info-text-actions(style="display: none;", onclick=`postDeleteConfirm('${postData.ref}')`) confirm&nbsp;
            p#delete-cancel.post-info-text-actions(style="display: none;", onclick="postDeleteCancel()") &nbsp;cancel

        //- large preview
        if !postData.deleted
          if options.type == "photo"
            div.post-large-preview(style=`display: ${options.view === "max" ? "block" : "none"}`)
              img.post-large-preview-image(src=`${postData.link}`, alt="post large preview")

          else if options.type == "video"
            div.post-large-preview(style=`display: ${options.view === "max" ? "block" : "none"}`)
              video.post-large-preview-video(width="100%", height="auto", style="margin-top: 4px;", controls)
                source(src=`${postData.link}`, type="video/mp4")

          else if options.type == "text"
            div.post-large-preview(style=`display: ${options.view === "max" ? "block" : "none"}`)!= postData.content
            div.post-edit(style="display: none;")
              textarea.input-textarea(rows="6", cols="64")= postData.contentRaw
              div.post-textarea-buttons-container
                +Button("Save", `postSaveEdit('${postData.ref}')`)
                +Button("Cancel", "postCancelEdit()")
        else
          div.post-large-preview.post-deleted(style=`display: ${options.view === "max" ? "block" : "none"}`) The post content was deleted.
        //- NO NEED TO PREVIEW A LINK

    //- save icon
    div.post-save
      +Icon(postData.saved ? "/static/assets/icons/starFill.svg" : "/static/assets/icons/star.svg", "save post", `postUpdateSaveState('${postData.ref}')`)