include icon.pug
include link.pug

mixin Post(title, owner, community, date, commentsAmount, upvotes, downvotes, source)
  div.post-container
    div.post-main
      //- votes handling
      div.post-votes(vote="down")
        +Icon("/static/assets/icons/up.svg", "upvote post", `postUpdateVoteStatus("up")`)
        p.post-votes-amount #{upvotes - downvotes}
        +Icon("/static/assets/icons/down.svg", "downvote post")

      //- small preview
      div.post-small-preview
        img.post-small-preview-image(src=`${source}`, alt="post small preview")

      //- info about the post - title, owner, etc
      div.post-info
        h1.post-info-title= title
        div.post-info-text-container
          p.post-info-text Submitted by&nbsp;
          +Link("/hey", `${owner}`)
          p.post-info-text &nbsp;in&nbsp;
          +Link("/hey2", `${community}`)
          p.post-info-text &nbsp;on&nbsp;
          +Link("/hey3", `${date}`)
        //- p#post(style=`color: ${sel ? "red" : "blue"}`) Hey
        
        div.post-info-text-container
          +Icon("/static/assets/icons/maximize.svg")
          +Link(`/c/${community}/post/fgds76`, `comments (${commentsAmount})`)
          p.post-info-text &nbsp;hide&nbsp;
          p.post-info-text &nbsp;report&nbsp;

        //- large preview
        div.post-large-preview
          img.post-large-preview-image(src=`${source}`, alt="post large preview")

    //- save icon
    div.post-save
      +Icon("/static/assets/icons/star.svg", "save post")