extends layout/layout.pug

include components/button.pug
include components/link.pug
include components/post.pug
include components/community.pug
include layout/header.pug

block header
  +Header(logged)

block title
  title Remasked

block content
  div.profile-buttons
    +Link(`/profile/${username}?type=comments`)
      +Button("Popular")
    +Link(`/profile/${username}?type=posts`)
      +Button("Top")
    +Link(`/profile/${username}?type=posts`)
      +Button("Newest")
    +Link(`/profile/${username}?type=comments`)
      +Button("Oldest")
    +Link(`/profile/${username}?type=posts`)
      +Button("Most upvoted")
    +Link(`/profile/${username}?type=comments`)
      +Button("Most downvoted")

  if posts
    each post in posts
      +Post(post, {type: post.type, flag: post.flag, view: "min", community: true})

  h1 Explore new communities
  div.profile-buttons
    +Link(`/profile/${username}?type=comments`)
      +Button("Popular")
    +Link(`/profile/${username}?type=posts`)
      +Button("Top")
    +Link(`/profile/${username}?type=posts`)
      +Button("Newest")
    +Link(`/profile/${username}?type=comments`)
      +Button("Oldest")
    +Link(`/profile/${username}?type=posts`)
      +Button("Most subscribed")
    +Link(`/profile/${username}?type=comments`)
      +Button("Most posts")

  if communities
    each community in communities
      +Community(community)

  div.index-create-container
    h1 Something is missing?
    div(style="max-width: 312px;")
      +Link(`/create`)
        +Button("Create your own community")